body{
  padding:0;
  margin:0;
  background-color: #e0dad5;
  margin-top:10px;
}

#background{
	position:relative;
	display:block;
	margin: 0 auto;
	height:600px;
	width:600px;
}

#body,
#jewel,
#jewel-shine,
.ear,
#earring-clip,
#earring-jewel,
.eye,
.blush,
.mouth,
.hand,
.feet{
		position:absolute;
}


#body{
	top:13%;
	left:21%;	
   width:350px;
   height: 400px;
   background-color: white;
   border: solid 4px black;
   -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
   border-radius:         50%  50%  50%  50%  / 60%   60%   40%  40%;

}

#jewel {
	top:16%;
	left:44%;
	width: 80px;
	height: 100px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
   border: solid 3px black;	
}

#jewel-shine{
	top:18%;
	left:51%;
	width: 30px;
	height: 40px;
	background: red;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: #ffc9c9;

}
.eye{
	width:100px; 
	height:120px;  
  border:solid 3px #000;
  border-color:black transparent transparent transparent;
  border-radius: 90%/100px 100px 0 0;

}

#eye-left{
	top:36%;
	left:30%;
  transform:rotate(5deg);	
}

#eye-right{
	top:36%;
	left:55%;
  transform:rotate(-5deg);	
}

.hand{
	width: 30px;
	height: 30px;
	-moz-border-radius: 0 0 50% 50%;
	-webkit-border-radius: 0 0 50% 50%;
	border-radius: 0 0 50% 50%;
   border: solid 4px black;
   border-top:none;
}

#hand-left{
	top:50%;
	left:24%;
     transform:rotate(-30deg);	
}

#hand-right{
	top:50%;
	left:70%;
     transform:rotate(30deg);	
}

.feet {
	width: 65px;
	height: 180px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
   border: solid 4px black; 	
}

#feet-left{
	top:63%;
	left:30%;
   transform:rotate(49deg);  
}

#feet-right{
	top:63%;
	left:57%;
   transform:rotate(-49deg);  
}

.ear{
	width: 65px;
	height: 350px;
	background: white;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
   border: solid 5px black; 	
}

#ear-left{
	top:13%;
	left:14%;
   transform:rotate(39deg);  	

}

#ear-right{
	top:13%;
	left:74%;
   transform:rotate(-39deg);  	
}

#earring-clip{
	top:57%;
	left:8%;
	width:40px;
	height:15px;
	background-color: #edea53;
   border: solid 3px black;
    transform:rotate(-43deg);     	
}

#earring-jewel{
	top:59%;
	left:12%;
	width:20px;
	height:20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background-color: red;
	border: solid 3px black;
}









.mouth{
	width: 30px;
	height: 30px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
   border: solid 2px black;
   border-color: transparent transparent black transparent; 			
}

#mouth-left{
	top:40%;
	left:46.4%;
}

#mouth-right{
	top:40%;
	left:50%;
}

.blush{
	width: 60px;
	height: 15px;
	background: pink;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

#blush-left{
	top:41%;
	left:27%;
}

#blush-right{
	top:41%;
	left:65%;
}